@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
  background: #FDFBF7;
}

@layer base {
  body {
    @apply font-body text-text antialiased;
    background-image: radial-gradient(rgba(0, 0, 0, .02) 1px, transparent 1px);
    background-size: 12px 12px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
